*{
	margin:0;
}

.adherent1{
	border:3px solid black;
	text-align: center;
}
.moyenneage{
	border:3px solid black;
	text-align: center;
}

/*------------------HEADER---------------*/
.headbg{
	background: url(images/bg1.jpg) no-repeat;
	text-align: center;
	background-size: 200% ;
	padding-bottom: 0px;
}
.logo{
	
	text-align: center;


}
#logonoir{
	width: 30%;
	

}
.anyClass {
  height: 350px;
  overflow-y: scroll;
}
/*---------------TABLEAU----------------------*/
.listad{
	margin-left: 10px;
}
.table{
	border: solid black;
}
.titretabl{
	border-bottom: solid black;
	background-color: red;

}

.classsearch{
		border-top: solid black;
	border-left: solid black;
	border-right: solid black;
}
input { font-family: 'FontAwesome'; }
/*-------------------FICHE PERSO---------------*/
.imgpersonne{
	width: 100px;
	margin-top: 80px;
}
#details{
	display: none;
}
#doughtnut-chart{
	display: none;
}
/*--------------------FOOTER-------------------*/
footer{
	background-color: #5B5B5B;
	height:5em;
	width: 100%;
}	
.btfoot{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: white;
	line-height: 20px;
}
.btn{
	margin-top: 15px;
	margin-left: 100px;
	color: red;
}
.cont{
	margin-top: 15px;
}
/*---------------------MEDIA QUERIES-------------*/
@media screen and (min-width: 576px) {
 .header1{
	background: url('images/unknown.png')no-repeat;
	
	background-size: 100%;
	padding-bottom: 0px;
	
	
}
.ascannes{
	font-size: larger;
}
#logonoir{
	margin-top: 0px;
	float: left;
}
.statsimg{
	display: none;
}
}
@media screen and (min-width: 768px) {


}
.statsimg{
	display: none;
}
#logonoir{
	margin-top: 0px;
	float: left;
}
.ascannes{
	font-size: larger;
